anyio
backcall
beautifulsoup4
bpy
charset-normalizer
click
decorator
fastapi
filelock
future-fstrings
gdown
h11
idna
importlib-metadata
ipython
jedi
matplotlib-inline
numpy
parso
pexpect
pickleshare
prompt-toolkit
ptyprocess
pydantic
Pygments
PyMySQL
PySocks
requests
six
sniffio
soupsieve
starlette
tqdm
traitlets
typing_extensions
urllib3
uvicorn
wcwidth
zipp
